    <div style="margin: 8px auto; display: block; text-align:center;">
        <!---728x90--->
    </div>
    <!--/footer-->
    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-3">
                <div class="row footer-top-29">
                    <div class="col-lg-3 col-sm-6 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4">
                        <ul>
                            <h6 class="footer-title-29">Our Info</h6>
                            <li><a href="{{ link_to_homepage }}">Home</a></li>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="mission.html">Mission</a></li>
                            <li><a href="license.html">License</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4">
                        <h6 class="footer-title-29">Quick Link</h6>
                        <ul>
                            <li><a href="https://www.linkedin.com/company/civic-data-cooperative">LinkedIn</a></li>
                            <li><a href="https://twitter.com/CivicDataCoop">Twitter</a></li>
                            <li><a href="https://github.com/civicdatacoop"> GitHub</a></li>
                            <li><a href="https://www.liverpool.ac.uk/health-and-life-sciences/">Faculty website</a></li>
                            <li><a href="https://www.liverpool.ac.uk/working/jobvacancies/"> University jobs</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4">
                        <h6 class="footer-title-29">Helpfull link</h6>
                        <ul>
                            <li><a href="https://www.liverpool.ac.uk/">University of Liverpool</a></li>
                            <li><a href="https://www.whatsyourproblem-lcr.com/"> CDC What's your prob</a></li>
                            <li><a href="https://www.cipha.nhs.uk/"> CIPHA docs</a></li>
                            <li><a href="https://github.com/cipha-uk"> CIPHA codes</a></li>
                            <li><a href="https://www.liverpoolcityregion-ca.gov.uk/"> Liverpool CR</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4">
                        <div class="footer-logo mb-3">
                            <h2>
                                <img src="assets/images/logo_simple.png" alt="CDC" title="CDC" style="height:35px;" />
                                <span style="margin-left: 10px;">Civic Data Cooperative</span>
                            </h2>

                        </div>
                        <p>Contact us today.</p>

                        <div class="cont-details">
                            <div class="cont-top margin-up">
                              <div class="cont-left text-center">
                                <span class="fas fa-map-marked-alt"></span>
                              </div>
                              <div class="cont-right">
                                <p> University of Liverpool, Liverpool, L69 3BX, UK</p>
                              </div>
                            </div>
                            <div class="cont-top margin-up">
                              <div class="cont-left text-center">
                                <span class="fas fa-blender-phone"></span>
                              </div>
                              <div class="cont-right">
                                <p><a href="tel:+441517942000">+44 (0)151 794 2000</a></p>
                              </div>
                            </div>
                            <div class="cont-top margin-up">
                              <div class="cont-left text-center">
                                <span class="fas fa-envelope-open-text"></span>
                              </div>
                              <div class="cont-right">
                                <p><a href="mailto:cdc(d)info(a)liverpool(d)ac(d)uk" class="mail">cdc<em class="e_dot"></em>info<em class="e_at"></em>liverpool<em class="e_dot"></em>ac<em class="e_dot"></em>uk</a></p>
                              </div>
                            </div>
                          </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //footer -->