 <section class="w3l-contact-2 py-5" id="contact">
  <div class="container py-lg-4 py-md-3 py-2">
    <div class="title-content text-center">
      <span class="title-subw3hny">Get in touch</span>
      <h3 class="title-w3l mb-lg-4">Contact us if you <br>have any questions!</h3>

    </div>
    <div class="contact-grids d-grid mt-5 mx-lg-5">
      <div class="contact-left">
        <div class="cont-details">
          <div class="cont-top margin-up">
            <div class="cont-left text-center">
              <span class="fas fa-map-marked-alt"></span>
            </div>
            <div class="cont-right">
              <h6>Our head office address:</h6>
              <p>University of Liverpool, Liverpool, L69 3BX, England, United Kingdom.</p>
            </div>
          </div>
          <div class="cont-top margin-up">
            <div class="cont-left text-center">
              <span class="fas fa-blender-phone"></span>
            </div>
            <div class="cont-right">
              <h6>Call for help :</h6>
              <p><a href="tel:+441517942000">+44 (0)151 794 2000</a></p>
            </div>
          </div>
          <div class="cont-top margin-up">
            <div class="cont-left text-center">
              <span class="fas fa-envelope-open-text"></span>
            </div>
            <div class="cont-right">
              <h6>
                Mail us:</h6>
              <p><a href="mailto:cdc(d)info(a)liverpool(d)ac(d)uk" class="mail">cdc<em class="e_dot"></em>info<em class="e_at"></em>liverpool<em class="e_dot"></em>ac<em class="e_dot"></em>uk</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-right">
          <div class="left-wthree-img">
            <div class="position-relative">
              <img src="assets/images/phone.jpg"
                alt="LCR CDC" class="img-fluid radius-image">
              </div>
            </div>
      </div>
    </div>
</section>
<!-- /contact-form-2 -->
<div class="map-iframe">
  <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2378.5613852064525!2d-2.9674876839961466!3d53.40478557803313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487b2119999f4157%3A0x2da4d28568378fb6!2sUniversity%20of%20Liverpool!5e0!3m2!1sen!2suk!4v1642259609680!5m2!1sen!2suk"
      width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>
</div>
  <!-- /contact1 -->
  <div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->

    </div>