<!--/services-->
<section class="w3l-services2" id="services">
    <div id="cwp23-block" class="py-5">
      <div class="container py-lg-5">
        <div class="row cwp23-content mt-lg-5 mt-4">
          <div class="col-lg-6 cwp23-img">
            <h5 class="title-subw3hny mb-1">About us</h5>
            <h3 class="title-w3l">LCR Civic Data Cooperative</h3>
            </h3>
            <p class="mt-4">The Liverpool City Region Civic Data Cooperative is a new type of data governance project, funded by the LIverpool City Region Combined Authority and hosted by the Faculty of Health and Life Sciences at the University of Liverpool.</p>
            <p class="mt-4">We are working on various projects mainly focused on health-related data. Our primary mission is to enable positive change in health and wellbeing through data and cooperation.</p>
            <div class="w3l-button mt-lg-5 mt-4">
              <a href="contact.html" class="btn btn-style btn-primary mt-2">Contact Us </a>
            </div>
          </div>
          <div class="col-lg-6 cwp23-text mt-lg-0 mt-5 pl-lg-5">
            <div class="cwp23-text-cols row">
              <div class="column col-6">
                <a href="https://www.cipha.nhs.uk"><img src="assets/images/cipha.gif" alt="CIPHA" class="radius-image img-fluid"></a>
              </div>
              <div class="column col-6">
                <a href="https://www.liverpool.ac.uk/"><img src="assets/images/uol_img.jpg" alt="University of Liverpool" class="radius-image img-fluid"></a>
              </div>
              <div class="column col-6 mt-4">
                <a href="https://www.liverpoolcityregion-ca.gov.uk/"><img src="assets/images/lcr_img.jpg" alt="Liverpool City Region" class="radius-image img-fluid"></a>
              </div>
              <div class="column col-6 mt-4">
                <a href="https://www.connectedhealthcities.org/"><img src="assets/images/chc_img.jpg" alt="Connected Health Cities" class="radius-image img-fluid"></a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--//services-->
  <div style="margin: 8px auto; display: block; text-align:center;">
    <!---728x90--->
  </div>


   <!--/team-sec
   <section class="w3l-team-main team py-5" id="team">
    <div class="container py-lg-5">
      <h5 class="title-subw3hny mb-1 text-center">Our Team</h5>
      <h3 class="title-w3l text-center">Amazing Team</h3>
      <div class="row team-row mt-md-5 mt-4">
        <div class="col-lg-4 col-6 team-wrap">
          <div class="team-member text-center">
            <div class="team-img">
              <img src="assets/images/male_team.jpg" alt="" class="radius-image">
              <div class="overlay-team">
                <div class="team-details text-center">
                  <div class="socials mt-20">
                    <a href="#url">
                      <span class="fab fa-facebook-f"></span>
                    </a>
                    <a href="#url">
                      <span class="fab fa-twitter"></span>
                    </a>
                    <a href="#url">
                      <span class="fab fa-linkedin-in"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <a href="#url" class="team-title">Gary Leeming</a>
            <p>Director</p>
          </div>
        </div>
        <!-- end team member 
        <div class="col-lg-4 col-6 team-wrap">
          <div class="team-member text-center">
            <div class="team-img">
              <img src="assets/images/female_team.jpg" alt="" class="radius-image">
              <div class="overlay-team">
                <div class="team-details text-center">
                  <div class="socials mt-20">
                    <a href="#url">
                      <span class="fab fa-facebook-f"></span>
                    </a>
                    <a href="#url">
                      <span class="fab fa-twitter"></span>
                    </a>
                    <a href="#url">
                      <span class="fab fa-linkedin-in"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <a href="#url" class="team-title">Claire Smith</a>
            <p>Program Manager</p>
          </div>
        </div>
        <!-- end team member 
        <div class="col-lg-4 col-6 team-wrap mt-lg-0 mt-5">
          <div class="team-member last text-center">
            <div class="team-img">
              <img src="assets/images/female_team.jpg" alt="" class="radius-image">
              <div class="overlay-team">
                <div class="team-details text-center">
                  <div class="socials mt-20">
                    <a href="#url">
                      <span class="fab fa-facebook-f"></span>
                    </a>
                    <a href="#url">
                      <span class="fab fa-twitter"></span>
                    </a>
                    <a href="#url">
                      <span class="fab fa-linkedin-in"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <a href="#url" class="team-title">Eleanor Fielding</a>
            <p>Project Manager</p>
          </div>
        </div>
      </div>
  </section>
  <!--//team-sec-->
  <div style="margin: 8px auto; display: block; text-align:center;">
    <!---728x90--->
  </div>

  <!--/w3l-services3-->
  <section class="w3l-services3 py-5">
      <div class="container py-lg-5 py-4">
        <div class="section-width">
          <h5 class="title-subw3hny">What do we do?</h5>
          <h3 class="title-w3l mb-3 pr-lg-5 mr-lg-5">We are working with stakeholders across the region, including NHS hospitals, local councils and others, to help a cooperative, data-sharing platform that enables better health and care for people everywhere.</h3>
        </div>
        <div class="row">
        <div class="col-lg-7 middle-section">

          <div class="link-list-menu">
            <p>Our LCR Civic Data Cooperative team has experience using healthcare records and civic datasets to enable research that can be used to support positive change for all our residents. </p>
              <div class="w3l-two-buttons">
                <a href="contact.html" class="btn btn-primary btn-white btn-style mt-lg-5 mt-4"> Contact Us </a>
                <a href="mission.html" class="btn btn-style btn-outline-dark mt-lg-5 mt-4 ml-sm-3"> Mission </a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 middle-right mt-lg-0 mt-4">
            <p>We follow the best practices, document our solutions, and believe in transparency about our programme. Based on a collaborative, open approach, the LCR CDC supports people and organizations in their efforts.</p>
            </div>
        </div>
      </div>
  </section>
  <!--//w3l-services3-->
