    <section class="py-5">
        <div class="container mt-5">
          <h3 class="inner-heading mb-3">University of Liverpool - CPRD Data Resource</h3>
          <div class="media">
            <div class="media-body">
                <p class="mb-2">The University of Liverpool has purchased a Multi-study Licence Agreement to facilitate access to the <a href="https://www.cprd.com/">Clinical Practice Research DataLink (CPRD)</a>. Under this agreement researcher can be granted access to the anonymised routinely collected primary care healthcare records or patients at GP practices who have chosen to participate.</p>
                <p>For the researcher to gain access they must have their research protocol approved by the Independent Scientific Advisory Committee (ISAC) of the CPRD</p>
                <h5 class="mt-2 mb-0">What are the steps to access data</h5>
                <img alt="Steps to access CPRD data" style="display: block; margin: 0px auto 10px auto; max-width: 100%" src="assets/images/cprd.png">
                <p class="mb-2">It really helps for someone on your team to have some prior knowledge of the CPRD before pursuing further access. We recommend that you access the CPRD elearning modules <a href="assets/files/cprd_e_learning_guide_standard_user.pdf">CPRD E-learning Guide - Standard User.pdf</a>. If you wish to have a brief discussion surrounding feasibility of your project or to try and develop a collaboration please contact one of the nominated users.</p>
                <p class="mb-2">There are however some step you <strong>should</strong> do before hand</p>
                <ul class="list-normal pt-lg-2 mt-0">
                    <li>Ensure you have a well defined research question.</li>
                    <li>After consulting the <a href="https://www.cprd.com/bibliography">CPRD bibliography</a> and recent ISAC submission lists are you confident that this is a novel study?</li>
                    <li>If patients are going to be identified using data contained within primary care records it will be necessary to generate a list of clinical codes of interest. The CPRD databases GOLD and Aurum use slightly different code tables, but they are based on Read Codes in the case of GOLD and a mix of Read Codes and SNOMED CT codes in the case of Aurum. If you develop list of SNOMED CT or Read codes these can be translated to database specific medcodes to enable subject identification and data extraction. For more detail on <a href="https://pcwww.liv.ac.uk/~pietas/CPRD/Gold_v_Aurum_medcodes.html">CPRD clinical codes.</a></li>
                    <li>If patients are going to be identified using hospital episodes records and secondary care records it will be necessary to generate a list of <a href="https://icd.who.int/browse10/2016/en"> ICD10</a> or <a href="https://termbrowser.nhs.uk/">SNOMED CT</a> terms. [<a href="https://hscic.kahootz.com/connect.ti/t_c_home/view?objectId=14232176#14232176">The NHS is migrating to SNOMED CT for its clinical coding however OPCS-4 and ICD-10 code are still a vital part of the HES database</a>].</li>
                    <li>Download and start to complete the <a href="https://www.cprd.com/research-applications"> ISAC forms and protocol required documentation.</a></li>
                </ul>
                <p class="mb-2">If at any stage you need assistance with these step please contact one of the nominated users.</p>
                <h5 class="mt-3 mb-1">Further Information</h5>
                <ul class="list-normal pt-lg-2 mt-0">
                    <li><a href="#">FAQs</a>: If you have further questions please read the FAQs and then email the University of Liverpool CPRD contact</li>
                    <li><a href="#">Standard Operating Proceedure</a>: If you are interested in using the University of Liverpool CPRD Resource please read the SOP document this contain more information about the requirements for data handling and research protocol approval.</li>
                    <li><a href="#">End User Agreement</a>: This contain the details of the agreement you will be asked to sign. This is primarily to ensure you are aware and committed to the data handling, anonymisation and data processing restriction placed upon CPRD data</li>
                </ul>
            </div>

          </div>
        </div>

    </section>


