<!--/w3l-aboutblock1-->
  <section class="w3l-aboutblock1" id="about">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          <div class="col-lg-6 left-wthree-img pr-lg-5">
            <div class="position-relative">
              <img src="assets/images/services_img.jpg"
                alt="" class="img-fluid radius-image">
              </div>
            </div>
          <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self">
            <h5 class="title-subw3hny mb-1">What do we want?</h5>
            <h3 class="title-w3l">We want to help people in Liverpool City Region.</h3>
            <p class="mt-4">The LCR CDC wants to cooperate with everyone engaged in public life, including GP practices, Liverpool health partners, research-interested clinicians, nurses, SMEs, and the general public. We want to join everyone's forces to improve life in the region.</p>
            <a class="btn btn-primary btn-style mt-md-5 mt-4 mr-md-4 mr-3" href="about.html">About Us</a>
          </div>
        </div>
        <!--/Features-->
        <div class="row justify-content-center mt-5 pt-lg-5 AboutFeatures">
          <div class="col-lg-4 col-md-6 grids-feature">
            <div class="area-box">
              <i class="fas fa-database" aria-hidden="true"></i>
              <div class="area-box-info">
                <h4><a href="about.html" class="title-head">Data collection</a></h4>
                    <p>We have access to various types of datasets related to population health.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
            <div class="area-box">
              <i class="fas fa-hands-wash" aria-hidden="true"></i>
              <div class="area-box-info">
                <h4><a href="about.html" class="title-head">Processing</a></h4>
                    <p>We follow best practices in processing and making our algorithms public.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
            <div class="area-box">
              <i class="fas fa-people-arrows" aria-hidden="true"></i>
              <div class="area-box-info">
                <h4><a href="about.html" class="title-head">Making impact</a></h4>
                    <p>Our solutions can help with real-life situations and improve quality of life. </p>
              </div>
            </div>
          </div>
        </div>
         <!--//Features-->
      </div>
    </div>
  </section>
  <!--//w3l-aboutblock1-->
  <div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->
     
    </div>