    <!-- home page about section -->
    <section class="w3l-homeblock1" id="about">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-3">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <span class="title-subw3hny">About the CDC</span>
                        <h3 class="title-w3l">Civic Data Cooperative team at the University of Liverpool</h3>
                        <p class="mt-md-4 mt-3">
                            The Civic Data Cooperative (CDC) is a part of the Faculty of Health and Life Sciences at the University of Liverpool. We work on various projects that operate with data related to citizens helping to build a better region. When delivering our projects, we believe in a transparent, open approach following best practices. The CDC has access to various data, mainly related to healthcare, such as summary patient records or synthetic datasets.
                        </p>
                        <ul class="service-list pt-lg-2 mt-4">
                            <li class="service-link"><a href="about.html"><span class="fas fa-check"></span> Translating lived experience into insight.</a></li>
                            <li class="service-link"><a href="about.html"><span class="fas fa-check"></span> Delivering innovation with impact.</a></li>
                            <li class="service-link"><a href="about.html"><span class="fas fa-check"></span> Using health data ethically and inclusively. </a></li>
                        </ul>
                    </div>
                    <div class="HomeAboutImages col-lg-6 mt-lg-0 mt-5 pl-lg-5">
                        <div class="row position-relative">
                            <div class="col-6">
                                <img src="assets/images/1.jpg" alt="" class="radius-image img-fluid">
                            </div>
                            <div class="col-6">
                                <img src="assets/images/2.jpg" alt="" class="radius-image img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //home page about section -->
    <!-- features-section -->
    <section class="w3l-features py-5" id="work">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row main-cont-wthree-2 align-items-center">
                <div class="col-lg-6 feature-grid-left pr-lg-5">
                    <h5 class="title-subw3hny">Want to know more?</h5>
                    <h3 class="title-w3l mb-4">CDC activities &amp; projects</h3>
                    <p class="text-para">So far, we have participated in many projects that help people in Liverpool City Region. Our goal is to understand the problems of people, small businesses and organizations and find a way to deal with them effectively. We have organized actions like Citizens Jury, helping engage a wide public in finding solutions. Similarly, we managed CDC - what's your problem event.
                    </p>
                    <a href="about.html" class="btn btn-style btn-primary mt-lg-5 mt-4">About Us</a>
                </div>
                <div class="col-lg-6 feature-grid-right mt-lg-0 mt-5 pl-lg-5">
                    <div class="call-grids-w3 d-grid">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-user-friends"></i>
                            </div>
                            <h4><a href="https://www.whatsyourproblem-lcr.com/" class="title-head">What's your problem?</a></h4>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-users"></i>
                            </div>
                            <h4><a href="about.html" class="title-head">Liverpool Region Citizens Jury</a></h4>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-notes-medical"></i>
                            </div>
                            <h4><a href="https://www.cipha.nhs.uk/" class="title-head">CIPHA health data repository</a></h4>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-file-code"></i>
                            </div>
                            <h4><a href="https://github.com/cipha-uk" class="title-head">CIPHA code repository</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- features section -->
    <div style="margin: 8px auto; display: block; text-align:center;">

        <!---728x90--->


        </div>



    <!--/w3l-project-->
    <section class="w3l-project-home py-5">
        <div class="container py-md-5 py-2">
        <div class="w3l-project-in">
            <div class="row">
            <div class="col-lg-8">
                <div class="bottom-info">
                <div class="header-section pr-lg-5">
                    <h5 class="title-subw3hny mb-3">Feel free to ask us</h5>
                    <h3 class="title-w3l mb-3">We are happy to <span class="span-bold">answer all your questions!</span>
                    </h3>
                    <p>If you want to know more feel free to contact us right now. We are happy to answer all your queries.</p>
                </div>
                </div>
            </div>
            <div class="col-lg-4 align-self text-lg-right mt-lg-0 mt-sm-5 mt-4">
                <a href="contact.html" class="btn btn-primary btn-white  btn-style mr-2"> Contact Now </a>
            </div>
            </div>
        </div>
        </div>
    </section>
    <!--//w3l-project-->
